@page
@model Autenticacion.Pages.Account.LoginModel
@{
}
<form method="post">

	<div class="mb-3"> 

		<label for ="exampleInputEmail" class="form-label">Email address</label>
		<input type="email" class="form-control" 
		asp-for="User.Email"
		id="exampleInputEmail" aira-describedby="emailHelp">
		<div id="emailHelp" class ="form-text">We'll never your email with anyone else.</div>
	
	</div>
	<div class = "mb-3">
		<label for="exampleInputPassword1" class="from-label">Password</label>
		<input type="password" class="form-control" 
		asp-for="User.Password"
		id="exampleInputPassword1">

	</div>
	<div class="mb-3 form-check">
		<input type="checkbox" class="form-check-input" id="exampleInputCheck1">
		<label class = "from-check-label" for ="exampleInputCheck1">Check me out.</label>

	</div>
	<button type ="submit" class="btn btn-primary">Submit</button>

</form>
